<!--include footer-->
<%-include('include/_header')%>
<!--/include footer-->
<style>
    .body{
      background-image: url('../assets/img/background.png');
    }
</style>

<div id="main" class="bg-image img-fluid">
    <div class="container d-flex justify-content-center">
    </div>
    <div class="container d-flex justify-content-center">
            <p> Welcome to the Netrunners file database!<p>
     </div>
     <div class="container d-flex justify-content-center">
        <p> A collection of intel on targets and allies</p>
    </div>
    <div>
      <div class="container">
        <h1>Search for a file</h1>
        <p>Please fill in this form to search for a file.</p>
        <label for="search-filename"><b>Filename: </b></label>
        <input type="text" placeholder="Enter filename" name="search-filename" id="search-file" for="filename"required>
        <button type="submit" class="button" value="search-filename" id="search-file-btn">Find</button>
      </div>
    </div>
      <div class="container">
        <h1>Create a file</h1>
        <p>Please fill in this form to create a file.</p>
        <label for="filename-label"><b>Filename: </b></label>
        <input type="text" placeholder="Enter filename" name="filename" id="create-file" for="filename"required>
        <button type="submit" class="button" value="filename" id="create-file-btn">Create</button>
      </div>
    <script>
       $(document).ready(function () {
          $("#list-files-button").click(function () {
              listFiles("/files/getfiles");
          });
          
          function listFiles(url) {
            $.ajax({
              url: url,
              type: "GET",
              success: function (files) {
                displayFiles(files);
              },
              error: function (error) {
                console.error("Error fetching files:", error);
              },
            });
          }
          
          function displayFiles(files) {
            $("#file-list").empty();
            for (var i = 0; i < files.length; i++) {
              console.log(files.length)
              var fileitem = $(
                '<li class="file-item" style="border: 1px solid #C4141C; padding: 10px;">' +
                  files[i].FileID + ": "
                  + files[i].FileName +
                  ' <button class="read-button" style="color: white; margin-left: 10px"  data-name="' +
                  '">Read</button></li>'
              );
              console.log("File item" + fileitem)
              $("#file-list").append(fileitem);
            }
          }
          function displayFileContent(content) {
            alert(content); 
          }

          $("#search-file-btn").on("click", function(event) {
            var filename = $("#search-file").val();
            try {
            var encoded = encodeURIComponent(filename)
            } catch(err) { 
              alert("Something went wrong, bad encoding!")
              return
            }
            var data = {filename : encoded}
            $.ajax({
              url: "/files/getusingname:" + JSON.stringify(data),
              type: "GET",
              success: function (response) {
                if (response.content) {
                  displayFileContent(response.content)
                } else {
                  alert("File has not been sent to queue!")
                }
              },
              error: function (error) {
                alert("Something went wrong!");
              },
              });
            });
      
          //Admin only, move to seperate script, add the JWOT Token here, tie to a button
          $("#create-file-btn").on("click", function () {
            var filename = $("#create-file").val();
            $.ajax({
              url: "/files/createfile:" + JSON.stringify(filename),
              type: "POST",
              success: function (response) {
                if (response.success) {
                  alert("File has been sent to queue!")
                } else {
                  alert("File has not been sent to queue!")
                }
              },
              error: function (error) {
                alert(error.responseJSON.msg);
              },
              });
            });

          $("#file-list").on("click", ".read-button", function () {
            var fileID = $(this).data("FileID");
            $.ajax({
              url: "/files/getfiles:" + fileID,
              type: "GET",
              success: function (response) {
                if (response.success) {
                  alert(response.msg);
                } else {
                  alert(response.msg);
                }
              },
              error: function (error) {
                alert(error.responseJSON.msg);
              },
              });
            });
          });
        
    </script>
<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->
