<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs'); %>
</head>

<body>
  <header>
    <%- include('../partials/header.ejs'); %>
  </header>
  <main>
    <h1>Admin Login</h1>
    <form id="login-form">
      <div>
        <label for="form-username">Username:</label>
        <input id="form-username" type="text" required>
      </div>
      <div>
        <label for="form-password">Password:</label>
        <input id="form-password" type="password" required>
      </div>
      <button id="form-submit">Log In</button>
    </form>
  </main>
  <script src="/scripts/axios.min.js"></script>
  <script src="/scripts/login.js"></script>
</body>

</html>